<h5>Annual Target:</h5>
<p>
    <md-progress-bar class="example-margin" [mode]="buffer" [value]="50" md-buffer-value="70" [bufferValue]="70">
    </md-progress-bar>
    <!--<ngb-progressbar showValue="true" [value]="82"></ngb-progressbar>-->
</p>
<p class="text-center">50%</p>
<table class="table">
    <tbody>
        <tr>
            <td>Actual Earned:</td>
            <td>51284€</td>
        </tr>
        <tr style="border-bottom:2px black solid;">
            <td>Yearly Goal:</td>
            <td>66000€</td>
        </tr>
        <tr>
            <td>To Date:</td>
            <td>-12458€</td>
        </tr>
    </tbody>
</table>